// This file holds classes for all background rules.

.pointer {
    cursor: pointer;
  }

//Background size

.background-size-30-perc, .background-size-30perc, .bg-size-30perc, .bg-size-30-perc {
    background-size: 30%;
   }

.background-size-50-perc, .background-size-50perc, .bg-size-50perc, .bg-size-50-perc {
    background-size: 50%;
   }

.background-size-80-perc, .background-size-80perc, .bg-size-80perc, .bg-size-80-perc {
    background-size: 80%;
   }

.background-size-100-perc, .background-size-100perc, .bg-size-100perc, .bg-size-100-perc {
    background-size: 100%;
   }

.background-size-cover {
    background-size: cover;
  }
  
.background-size-contain {
    background-size: contain;
  }

   



//Background repeat

.bg-repeat, .background-repeat {
    background-repeat: repeat;
}

.background-no-repeat, .bg-no-repeat {
    background-repeat: no-repeat;
  }

//Background position
.bg-position-initial, .bg-pos-initial { 
    background-position: initial; 
  }

.bg-position-0, .bg-pos-0 { 
    background-position: 0px 0px; 
}
.bg-position-10, .bg-pos-10 { 
    background-position: 10px 10px; 
}
.bg-position-30, .bg-pos-30 { 
    background-position: 30px 30px; 
}
.bg-position-50, .bg-pos-50 { 
    background-position: 30px 30px; 
}
.bg-position-30, .bg-pos-30 { 
    background-position: 30px 30px; 
}

.bg-position-10-perc, .bg-pos-10-perc, .bg-position-10perc, .bg-pos-10perc { 
    background-position: 10% 10%; 
  }

.bg-position-25-perc, .bg-pos-25-perc, .bg-position-25perc, .bg-pos-25perc{
    background-position: 25% 25%;
}

.bg-position-33-perc, .bg-pos-33-perc, .bg-position-33perc, .bg-pos-33perc{
    background-position: 33% 33%;
}


.bg-position-50-perc, .bg-pos-50-perc, .bg-position-50perc, .bg-pos-50perc { 
    background-position: 50% 50%; 
  }
  
