body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 3px;
  padding: 3px;
}

@import "margins";
@import "paddings";
@import "width-height";
@import "visibility";
@import "backgrounds";
@import "positions";
@import "borders";