// Styles that affect elements' properties like padding, margin, position etc.
// Normalizing and standardizing body styles
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
// Normalizing and standardizing header and paragraph styles
h1, h2, h3, h4, h5, h6, p {
  margin: 3px;
  padding: 3px;
}
/**********     MARGIN STYLES    **********/
.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-7 {
  margin: 7px;
}

.margin-10 {
  margin: 10px;
}

.margin-13 {
  margin: 13px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-25 {
  margin: 25px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-50 {
  margin: 50px;
}

.margin-60 {
  margin: 60px;
}

.margin-70 {
  margin: 70px;
}
.margin-80 {
  margin: 80px
}

.margin-90 {
  margin: 90px;
}

.margin-100 {
  margin: 100px;
}
// Horizontal margin
.margin-h-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-h-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-h-7 {
  margin-left: 7px;
  margin-right: 7px;
}

.margin-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-h-13 {
  margin-left: 13px;
  margin-right: 13px;
}

.margin-h-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-h-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.margin-h-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-h-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-h-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.margin-h-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.margin-h-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.margin-h-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.margin-h-90 {
  margin-left: 90px;
  margin-right: 90px;
}

.margin-h-100 {
  margin-left: 100px;
  margin-right: 100px;
}
// Vertical margin
.margin-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-v-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.margin-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-13 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.margin-v-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-v-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.margin-v-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-v-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-v-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-v-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-v-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.margin-v-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.margin-v-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.margin-v-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
//Margin-top
.margin-t-0 {
  margin-top: 0;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-7 {
  margin-top: 7px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-15 {
  margin-top: 15px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-25 {
  margin-top: 25px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-100 {
  margin-top: 100px;
}
//Margin right
.margin-r-0 {
  margin-right: 0;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-r-7 {
  margin-right: 7px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-r-20 {
  margin-right: 20px;
}

.margin-r-25 {
  margin-right: 25px;
}

.margin-r-30 {
  margin-right: 30px;
}

.margin-r-50 {
  margin-right: 50px;
}

.margin-r-100 {
  margin-right: 100px;
}
//Margin bottom
.margin-b-0 {
  margin-bottom: 0;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-7 {
  margin-bottom: 7px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-25 {
  margin-bottom: 25px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-b-100 {
  margin-bottom: 100px;
}
//Margin left
.margin-l-0 {
  margin-left: 0;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-7 {
  margin-left: 7px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-l-25 {
  margin-left: 25px;
}

.margin-l-30 {
  margin-left: 30px;
}

.margin-l-50 {
  margin-left: 50px;
}

.margin-l-100 {
  margin-left: 100px;
}
// Margin with important notice
.margin-r-15-i {
  margin-right: 15px !important;
}

.margin-t-0-i {
  margin-top: 0 !important;
}
// Margin with negative value
.margin-t-min-10 {
  margin-top: -10px;
}

/**********     PADDING STYLES    **********/
//Padding
.padding-0 {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-7 {
  padding: 7px;
}

.padding-10 {
  padding: 10px;
}

.padding-13 {
  padding: 13px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-25 {
  padding: 25px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-50 {
  padding: 50px;
}

.padding-60 {
  padding: 60px;
}

.padding-70 {
  padding: 70px;
}

.padding-80 {
  padding: 80px;
}

.padding-90 {
  padding: 90px;
}

.padding-100 {
  padding: 100px;
}

.padding-0-i {
  padding: 0 !important;
}
//Horizontal padding
.padding-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-h-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-h-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.padding-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-h-13 {
  padding-left: 13px;
  padding-right: 13px;
}

.padding-h-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.padding-h-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-h-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-h-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.padding-h-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.padding-h-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.padding-h-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.padding-h-100 {
  padding-left: 100px;
  padding-right: 100px;
}
//Vertical padding
.padding-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-v-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.padding-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-v-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.padding-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-v-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-v-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-v-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-v-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-v-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.padding-v-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-v-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.padding-v-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
//Padding top
.padding-t-0 {
  padding-top: 0;
}

.padding-t-5 {
  padding-top: 5px;
}

.padding-t-7 {
  padding-top: 7px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-15 {
  padding-top: 15px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-t-25 {
  padding-top: 25px;
}

.padding-t-30 {
  padding-top: 30px;
}

.padding-t-50 {
  padding-top: 50px;
}

.padding-t-100 {
  padding-top: 100px;
}
//Padding right
.padding-r-0 {
  padding-right: 0;
}

.padding-r-5 {
  padding-right: 5px;
}

.padding-r-7 {
  padding-right: 7px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-r-15 {
  padding-right: 15px;
}

.padding-r-20 {
  padding-right: 20px;
}

.padding-r-25 {
  padding-right: 25px;
}

.padding-r-30 {
  padding-right: 30px;
}

.padding-r-50 {
  padding-right: 50px;
}

.padding-r-100 {
  padding-right: 100px;
}
//Padding bottom
.padding-b-0 {
  padding-bottom: 0;
}

.padding-b-5 {
  padding-bottom: 5px;
}

.padding-b-7 {
  padding-bottom: 7px;
}

.padding-b-10 {
  padding-bottom: 10px;
}

.padding-b-15 {
  padding-bottom: 15px;
}

.padding-b-20 {
  padding-bottom: 20px;
}

.padding-b-25 {
  padding-bottom: 25px;
}

.padding-b-30 {
  padding-bottom: 30px;
}

.padding-b-50 {
  padding-bottom: 50px;
}

.padding-b-100 {
  padding-bottom: 100px;
}
//Padding left
.padding-l-0 {
  padding-left: 0;
}

.padding-l-5 {
  padding-left: 5px;
}

.padding-l-7 {
  padding-left: 7px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-15 {
  padding-left: 15px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-l-25 {
  padding-left: 25px;
}

.padding-l-30 {
  padding-left: 30px;
}

.padding-l-50 {
  padding-left: 50px;
}

.padding-l-100 {
  padding-left: 100px;
}

/**********     BORDER STYLES    **********/
.border-t {
  border-top: 1px solid #333;
}

.border-w-4 {
  border-width: 4px;
}

.border-b {
  border-bottom: 1px solid #333;
}

.border-r {
  border-right: 1px solid #333;
}

.border-1px {
  border: 1px solid #333;
  box-sizing: border-box;
}

.border-2px {
  border: 2px solid #333;
  box-sizing: border-box;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-50-perc {
  border-radius: 50%;
}

.border-none {
  border: none;
}

.border-none-i {
  border: none !important;
}

/**********     WIDTH STYLES    **********/

.w-0 {
  width: 0%;
}

.w-auto {
  width: auto;
}

.w-20-perc {
  width: 20%;
}

.w-50-perc {
  width: 50%;
}

.w-100-perc {
  width: 100%;
}

.w-110-perc {
  width: 110%;
}

.min-max-w-100-perc {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.min-max-w-120-perc {
  width: 120%;
  min-width: 120%;
  max-width: 120%;
}
.max-w-10-perc {
  max-width: 10%;
}

.min-max-w-30-perc {
  width: 30%;
  max-width: 30%;
  min-width: 30%;
}

.min-max-w-180-px {
  width: 180px;
  max-width: 180px;
  min-width: 180px;
}

.max-w-0 {
  max-width: 0px;
}

.max-w-500 {
  max-width: 500px;
}

.min-w-80 {
  min-width: 80px;
}

.min-w-130 {
  min-width: 130px;
}

.min-w-25-perc {
  min-width: 25%;
}

.min-max-h-100-perc {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.min-max-h-120-perc {
  height: 120%;
  min-height: 120%;
  max-height: 120%;
}

.min-h-100-vh {
  min-height: 100vh;
}

.min-h-200 {
  min-height: 200px;
}

/**********     HEIGHT STYLES    **********/

.h-100-perc {
  height: 100%;
}

.h-110-perc {
  height: 110%;
}

/**********     VISIBILITY STYLES    **********/

.hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.opacity-0 {
  opacity: 0;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-1 {
  opacity: 1;
}

.z-1 {
  z-index: 1;
}

.z-3 {
  z-index: 3;
}

.z-999 {
  z-index: 999;
}

.z-999999 {
  z-index: 999999;
}

/**********     POSITION STYLES    **********/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.position-middle {
  top: 50%;
  left: 50%;
}

.bottom-0 {
  bottom: 0;
}

/**********     FOREGROUND/BACKGROUND STYLES    **********/

.pointer {
  cursor: pointer;
}

.background-center {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.background-size-cover {
  background-size: cover;
}

.background-size-120-perc {
  background-size: 120% 120%;
}

.clean-background {
  background-color: #ffffffee;
}

.lightened-background {
  background-color: #e3e3e377;
}

.dimmed-background {
  background-color: #33333388;
}

.shadow-medium {
  box-shadow: 0 0 30px -5px #333;
}

.shadow-b-light {
  box-shadow: 0 10px 20px -4px #333;
}

.shadow-b-r-light {
  box-shadow: 10px 10px 30px -17px #333;
}

