// FLEXBOX //
.flex, .row, .flex-row {
  display: flex;
}

.column, .flex-column, .flex-col {
  display: flex;
  flex-direction: column;
}

.row-reverse, .flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column-reverse, .flex-column-reverse, .flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.center, .center-all, .flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-stretch {
  align-self: stretch;
}

//Grow & Shrink
.grow-0, .flex-grow-0 {
  flex-grow: 0;
}

.grow-1, .flex-grow-1 {
  flex-grow: 1;
}

.grow-2, .flex-grow-2 {
  flex-grow: 2;
}

.grow-3, .flex-grow-3 {
  flex-grow: 3;
}

.grow-4, .flex-grow-4 {
  flex-grow: 4;
}

.grow-5, .flex-grow-5 {
  flex-grow: 5;
}

.shrink-0, .flex-shrink-0 {
  flex-shrink: 0;
}

.shrink-1, .flex-shrink-1 {
  flex-shrink: 1;
}

.shrink-2, .flex-shrink-2 {
  flex-shrink: 2;
}

.shrink-3, .flex-shrink-3 {
  flex-shrink: 3;
}

.shrink-4, .flex-shrink-4 {
  flex-shrink: 4;
}

.shrink-5, .flex-shrink-5 {
  flex-shrink: 5;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}