/**********     MARGIN STYLES    **********/
.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-7 {
  margin: 7px;
}

.margin-10 {
  margin: 10px;
}

.margin-13 {
  margin: 13px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-25 {
  margin: 25px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-50 {
  margin: 50px;
}

.margin-60 {
  margin: 60px;
}

.margin-70 {
  margin: 70px;
}

.margin-80 {
  margin: 80px
}

.margin-90 {
  margin: 90px;
}

.margin-100 {
  margin: 100px;
}

// Horizontal margin
.margin-h-0, .margin-horizontal-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-h-5, .margin-horizontal-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-h-7, .margin-horizontal-7 {
  margin-left: 7px;
  margin-right: 7px;
}

.margin-h-10, .margin-horizontal-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-h-13, .margin-horizontal-13 {
  margin-left: 13px;
  margin-right: 13px;
}

.margin-h-15, .margin-horizontal-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-h-20, .margin-horizontal-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-h-25, .margin-horizontal-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.margin-h-30, .margin-horizontal-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-h-40, .margin-horizontal-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-h-50, .margin-horizontal-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.margin-h-60, .margin-horizontal-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.margin-h-70, .margin-horizontal-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.margin-h-80, .margin-horizontal-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.margin-h-90, .margin-horizontal-90 {
  margin-left: 90px;
  margin-right: 90px;
}

.margin-h-100, .margin-horizontal-100 {
  margin-left: 100px;
  margin-right: 100px;
}

// Vertical margin
.margin-v-0, .margin-vertical-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-v-5, .margin-vertical-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-v-7, .margin-vertical-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.margin-v-10, .margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-13, .margin-vertical-13 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.margin-v-15, .margin-vertical-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-v-20, .margin-vertical-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-v-25, .margin-vertical-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.margin-v-30, .margin-vertical-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-v-40, .margin-vertical-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-v-50, .margin-vertical-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-v-60, .margin-vertical-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-v-70, .margin-vertical-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.margin-v-80, .margin-vertical-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.margin-v-90, .margin-vertical-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.margin-v-100, .margin-vertical-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

//Margin-top
.margin-t-0, .margin-top-0 {
  margin-top: 0;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-7 {
  margin-top: 7px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-15 {
  margin-top: 15px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-25 {
  margin-top: 25px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-100 {
  margin-top: 100px;
}

//Margin right
.margin-r-0 {
  margin-right: 0;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-r-7 {
  margin-right: 7px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-r-20 {
  margin-right: 20px;
}

.margin-r-25 {
  margin-right: 25px;
}

.margin-r-30 {
  margin-right: 30px;
}

.margin-r-50 {
  margin-right: 50px;
}

.margin-r-100 {
  margin-right: 100px;
}

//Margin bottom
.margin-b-0 {
  margin-bottom: 0;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-7 {
  margin-bottom: 7px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-25 {
  margin-bottom: 25px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-b-100 {
  margin-bottom: 100px;
}

//Margin left
.margin-l-0 {
  margin-left: 0;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-7 {
  margin-left: 7px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-l-25 {
  margin-left: 25px;
}

.margin-l-30 {
  margin-left: 30px;
}

.margin-l-50 {
  margin-left: 50px;
}

.margin-l-100 {
  margin-left: 100px;
}

// Margin with important notice
.margin-r-15-i {
  margin-right: 15px !important;
}

.margin-t-0-i {
  margin-top: 0 !important;
}

// Margin with negative value
.margin-t-min-10 {
  margin-top: -10px;
}
  