// Padding

// Vertical value

.padding-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-v-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.padding-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-v-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.padding-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-v-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-v-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-v-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-v-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-v-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.padding-v-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-v-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.padding-v-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

//   Horizontal value

.padding-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-h-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-h-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.padding-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-h-13 {
  padding-left: 13px;
  padding-right: 13px;
}

.padding-h-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.padding-h-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-h-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-h-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.padding-h-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.padding-h-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.padding-h-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.padding-h-100 {
  padding-left: 100px;
  padding-right: 100px;
}

//Padding top

.padding-t-0 {
  padding-top: 0;
}

.padding-t-5 {
  padding-top: 5px;
}

.padding-t-7 {
  padding-top: 7px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-15 {
  padding-top: 15px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-t-25 {
  padding-top: 25px;
}

.padding-t-30 {
  padding-top: 30px;
}

.padding-t-50 {
  padding-top: 50px;
}

.padding-t-100 {
  padding-top: 100px;
}

//Padding right

.padding-r-0 {
  padding-right: 0;
}

.padding-r-5 {
  padding-right: 5px;
}

.padding-r-7 {
  padding-right: 7px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-r-15 {
  padding-right: 15px;
}

.padding-r-20 {
  padding-right: 20px;
}

.padding-r-25 {
  padding-right: 25px;
}

.padding-r-30 {
  padding-right: 30px;
}

.padding-r-50 {
  padding-right: 50px;
}

.padding-r-100 {
  padding-right: 100px;
}

//Padding bottom

.padding-b-0 {
  padding-bottom: 0;
}

.padding-b-5 {
  padding-bottom: 5px;
}

.padding-b-7 {
  padding-bottom: 7px;
}

.padding-b-10 {
  padding-bottom: 10px;
}

.padding-b-15 {
  padding-bottom: 15px;
}

.padding-b-20 {
  padding-bottom: 20px;
}

.padding-b-25 {
  padding-bottom: 25px;
}

.padding-b-30 {
  padding-bottom: 30px;
}

.padding-b-50 {
  padding-bottom: 50px;
}

.padding-b-100 {
  padding-bottom: 100px;
}

//Padding left

.padding-l-0 {
  padding-left: 0;
}

.padding-l-5 {
  padding-left: 5px;
}

.padding-l-7 {
  padding-left: 7px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-15 {
  padding-left: 15px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-l-25 {
  padding-left: 25px;
}

.padding-l-30 {
  padding-left: 30px;
}

.padding-l-50 {
  padding-left: 50px;
}

.padding-l-100 {
  padding-left: 100px;
}

//   Relative values

// Horizontal percent value

.padding-v-2-perc {
  padding-top: 2%;
  padding-bottom: 2%;
}

.padding-v-3-perc {
  padding-top: 3%;
  padding-bottom: 3%;
}

.padding-v-5-perc {
  padding-top: 5%;
  padding-bottom: 5%;
}

.padding-v-10-perc {
  padding-top: 10%;
  padding-bottom: 10%;
}

.padding-v-20-perc {
  padding-top: 20%;
  padding-bottom: 20%;
}

.padding-v-25-perc {
  padding-top: 25%;
  padding-bottom: 25%;
}

.padding-v-30-perc {
  padding-top: 30%;
  padding-bottom: 30%;
}

.padding-v-33-perc {
  padding-top: 33%;
  padding-bottom: 33%;
}

.padding-v-50-perc {
  padding-top: 50%;
  padding-bottom: 50%;
}

.padding-v-100-perc {
  padding-top: 100%;
  padding-bottom: 100%;
}


// Vertical percent value

.padding-h-2-perc {
  padding-left: 2%;
  padding-right: 2%;
}

.padding-h-3-perc {
  padding-left: 3%;
  padding-right: 3%;
}

.padding-h-5-perc {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-h-10-perc {
  padding-left: 10%;
  padding-right: 10%;
}

.padding-h-20-perc {
  padding-left: 20%;
  padding-right: 20%;
}

.padding-h-25-perc {
  padding-left: 25%;
  padding-right: 25%;
}

.padding-h-30-perc {
  padding-left: 30%;
  padding-right: 30%;
}

.padding-h-33-perc {
  padding-left: 33%;
  padding-right: 33%;
}

.padding-h-50-perc {
  padding-left: 50%;
  padding-right: 50%;
}

.padding-h-100-perc {
  padding-left: 100%;
  padding-right: 100%;
}

// Padding top percent value

.padding-t-2-perc {
  padding-top: 2%;
}

.padding-t-3-perc {
  padding-top: 3%;
}

.padding-t-5-perc {
  padding-top: 5%;
}

.padding-t-10-perc {
  padding-top: 10%;
}

.padding-t-20-perc {
  padding-top: 20%;
}

.padding-t-25-perc {
  padding-top: 25%;
}

.padding-t-30-perc {
  padding-top: 30%;
}

.padding-t-33-perc {
  padding-top: 33%;
}

.padding-t-50-perc {
  padding-top: 50%;
}

.padding-t-100-perc {
  padding-top: 100%;
}

// Padding right percent value

.padding-r-2-perc {
  padding-right: 2%;
}

.padding-r-3-perc {
  padding-right: 3%;
}

.padding-r-5-perc {
  padding-right: 5%;
}

.padding-r-10-perc {
  padding-right: 10%;
}

.padding-r-20-perc {
  padding-right: 20%;
}

.padding-r-25-perc {
  padding-right: 25%;
}

.padding-r-30-perc {
  padding-right: 30%;
}

.padding-r-33-perc {
  padding-right: 33%;
}

.padding-r-50-perc {
  padding-right: 50%;
}

.padding-r-100-perc {
  padding-right: 100%;
}

// Padding bottom percent value

.padding-b-2-perc {
  padding-bottom: 2%;
}

.padding-b-3-perc {
  padding-bottom: 3%;
}

.padding-b-5-perc {
  padding-bottom: 5%;
}

.padding-b-10-perc {
  padding-bottom: 10%;
}

.padding-b-20-perc {
  padding-bottom: 20%;
}

.padding-b-25-perc {
  padding-bottom: 25%;
}

.padding-b-30-perc {
  padding-bottom: 30%;
}

.padding-b-33-perc {
  padding-bottom: 33%;
}

.padding-b-50-perc {
  padding-bottom: 50%;
}

.padding-b-100-perc {
  padding-bottom: 100%;
}

// Padding left percent value

.padding-l-2-perc {
  padding-left: 2%;
}

.padding-l-3-perc {
  padding-left: 3%;
}

.padding-l-5-perc {
  padding-left: 5%;
}

.padding-l-10-perc {
  padding-left: 10%;
}

.padding-l-20-perc {
  padding-left: 20%;
}

.padding-l-25-perc {
  padding-left: 25%;
}

.padding-l-30-perc {
  padding-left: 30%;
}

.padding-l-33-perc {
  padding-left: 33%;
}

.padding-l-50-perc {
  padding-left: 50%;
}

.padding-l-100-perc {
  padding-left: 100%;
}