//Font Size
.font-size-8, .font-8 {
  font-size: 8px;
}

.font-size-10, .font-10 {
  font-size: 10px;
}

.font-size-12, .font-12 {
  font-size: 12px;
}

.font-size-13, .font-13, .small-text {
  font-size: 13px;
}

.font-size-14, .font-14 {
  font-size: 14px;
}

.font-size-15, .font-15 {
  font-size: 15px;
}

.font-size-16, .font-16, .medium-text {
  font-size: 16px;
}

.font-size-18, .font-18 {
  font-size: 18px;
}

.font-size-20, .font-20, .big-text {
  font-size: 20px;
}

.font-size-22, .font-22 {
  font-size: 22px;
}

.font-size-24, .font-24 {
  font-size: 24px;
}

.font-size-26, .font-26, .large-text {
  font-size: 26px;
}

.font-size-28, .font-28 {
  font-size: 28px;
}

.font-size-34, .font-34, .x-large-text {
  font-size: 34px;
}

.font-size-38, .font-38 {
  font-size: 38px;
}

.font-size-42, .font-42 {
  font-size: 42px;
}

.font-size-46, .font-46, .xx-large-text {
  font-size: 46px;
}

.font-size-50, .font-50 {
  font-size: 50px;
}

.font-size-55, .font-55, .gigant-text {
  font-size: 55px;
}

.font-size-65, .font-65 {
  font-size: 65px;
}

.font-size-70, .font-70 {
  font-size: 70px;
}

.font-size-80, .font-80 {
  font-size: 80px;
}

.font-size-100, .font-100 {
  font-size: 100px;
}

.no-text-transform {
  text-transform: none;
}

.text-transform-uppercase, .uppercase {
  text-transform: uppercase;
}

.text-transform-lowercase, .lowercase {
  text-transform: lowercase;
}

.no-text-transform-i {
  text-transform: none !important;
}

.text-transform-uppercase-i, .uppercase-i {
  text-transform: uppercase !important;
}

.text-transform-lowercase-i, .lowercase-i {
  text-transform: lowercase !important;
}

.letter-spacing-min-05, .letter-spacing-min-0-5 {
  letter-spacing: -0.5px;
}

.letter-spacing-min-02, .letter-spacing-min-0-2 {
  letter-spacing: -0.2px;
}

.letter-spacing-min-1, .letter-spacing-min1 {
  letter-spacing: -1px;
}

.letter-spacing-0 {
  letter-spacing: 0px;
}

.letter-spacing-05, .letter-spacing-0-5 {
  letter-spacing: 0.5px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-1-5 {
  letter-spacing: 1.5px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.light {
  font-weight: 100;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.rotate{
  transform: rotate(-90deg);
}

.rotate-1 {
  transform: rotate(+90deg);
}