.w-0-i, .width-0-i {
    width: 0 !important;
  }
.w-33-perc-i, .width-33-perc-i, .w-33perc-i, .width-33perc-i{
    width: 33% !important;
}
.w-50-perc-i, .width-50-perc-i, .w-50perc-i, .width-50perc-i{
  width: 50% !important;
}
.w-100-perc-i, .width-100-perc-i, .w-100perc-i, .width-100perc-i{
  width: 100% !important;
}

.h-0-i, .height-0-i {
  height: 0 !important;
}
.h-33-perc-i, .height-33-perc-i, .h-33perc-i, .height-33perc-i{
  height: 33% !important;
}
.h-50-perc-i, .height-50-perc-i, .h-50perc-i, .height-50perc-i{
  height: 50% !important;
}
.h-100-perc-i, .height-100-perc-i, .h-100perc-i, .height-100perc-i{
  height: 100% !important;
}

.min-width-0-perc-i, .min-width-0perc-i, .min-w-0-perc-i, .min-w-0perc-i {
  min-width: 0% !important;
}

.min-width-33-perc-i, .min-width-33perc-i, .min-w-33-perc-i, .min-w-33perc-i {
  min-width: 33% !important;
}

.min-width-50-perc-i, .min-width-50perc-i, .min-w-50-perc-i, .min-w-50perc-i {
  min-width: 50% !important;
}

.min-width-100-perc-i, .min-width-100perc-i, .min-w-100-perc-i, .min-w-100perc-i {
  min-width: 100% !important;
}

.max-width-0-perc-i, .max-width-0perc-i, .max-w-0-perc-i, .max-w-0perc-i {
  max-width: 0% !important;
}

.max-width-33-perc-i, .max-width-33perc-i, .max-w-33-perc-i, .max-w-33-i {
  max-width: 33% !important;
}

.max-width-50-perc-i, .max-width-50perc-i, .max-w-50-perc-i, .max-w-50perc-i {
  max-width: 50% !important;
}

.max-width-100-perc-i, .max-width-100perc-i, .max-w-100-perc-i, .max-w-100perc-i {
  max-width: 100% !important;
}

.min-max-width-0-perc-i, .min-max-width-0perc-i, .min-max-w-0-perc-i, .min-max-w-0perc-i {
  width: 0% !important;
  min-width: 0% !important;
  max-width: 0% !important;
}

.min-max-width-33-perc-i, .min-max-width-33perc-i, .min-max-w-33-perc-i, .min-max-w-33perc-i {
  width: 33% !important;
  min-width: 33% !important;
  max-width: 33% !important;
}

.min-max-width-50-perc-i, .min-max-width-50perc-i, .min-max-w-50-perc-i, .min-max-w-50perc-i {
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
}

.min-max-width-100-perc-i, .min-max-width-100perc-i, .min-max-w-100-perc-i, .min-max-w-100perc-i {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.min-height-0-perc-i, .min-height-0perc-i, .min-h-0-perc-i, .min-h-0perc-i {
  min-height: 0% !important;
}

.min-height-33-perc-i, .min-height-33perc-i, .min-h-33-perc-i, .min-h-33perc-i {
  min-height: 33% !important;
}

.min-height-50-perc-i, .min-height-50perc-i, .min-h-50-perc-i, .min-h-50perc-i {
  min-height: 50% !important;
}

.min-height-100-perc-i, .min-height-100perc-i, .min-h-100-perc-i, .min-h-100perc-i {
  min-height: 100% !important;
}

.max-height-0-perc-i, .max-height-0perc-i, .max-h-0-perc-i, .max-h-0perc-i {
  max-height: 0% !important;
}

.max-height-33-perc-i, .max-height-33perc-i, .max-h-33-perc-i, .max-h-33perc-i {
  max-height: 33% !important;
}

.max-height-50-perc-i, .max-height-50perc-i, .max-h-50-perc-i, .max-h-50perc-i {
  max-height: 50% !important;
}

.max-height-100-perc-i, .max-height-100perc-i, .max-h-100-perc-i, .max-h-100perc-i {
  max-height: 100% !important;
}

.min-max-height-0-perc-i, .min-max-height-0perc-i, .min-max-h-0-perc-i, .min-max-h-0perc-i {
  height: 0% !important;
  min-height: 0% !important;
  max-height: 0% !important;
}

.min-max-height-33-perc-i, .min-max-height-33perc-i, .min-max-h--33perc-i, .min-max-h-33perc-i {
  height: 33% !important;
  min-height: 33% !important;
  max-height: 33% !important;
}

.min-max-height-50-perc-i, .min-max-height-50perc-i, .min-max-h-50-perc-i, .min-max-h-5perc-i {
  height: 50% !important;
  min-height: 50% !important;
  max-height: 50% !important;
}

.min-max-height-100-perc-i, .min-max-height-100perc-i, .min-max-h-100-perc-i, .min-max-h-100perc-i {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}