.w-0-i, .width-0-i {
    width: 0 !important;
  }
.w-33-perc-i, .width-33-perc-i, .w-33perc-i, .width-33perc-i{
    width: 33% !important;
}
.w-50-perc-i, .width-50-perc-i, .w-50perc-i, .width-50perc-i{
  width: 50% !important;
}
.w-100-perc-i, .width-100-perc-i, .w-100perc-i, .width-100perc-i{
  width: 100% !important;
}

.h-0-i, .height-0-i {
  height: 0 !important;
}
.h-33-perc-i, .height-33-perc-i, .h-33perc-i, .height-33perc-i{
  height: 33% !important;
}
.h-50-perc-i, .height-50-perc-i, .h-50perc-i, .height-50perc-i{
  height: 50% !important;
}
.h-100-perc-i, .height-100-perc-i, .h-100perc-i, .height-100perc-i{
  height: 100% !important;
}